/* GENERAL */

body{
    background: url('/img/bg.png') no-repeat center center fixed;
    background-size: cover;
    color:#533828;
}

.align-right{
    text-align: right;
}

.brand-logo{
    margin-left: 5px;
}


.recipe{
    width: 100%;
}

.recipe-edit{
    position: absolute;
    top: 10px;
    right: 70px;
}

.recipe-delete{
    position: absolute;
    top: 10px;
    right: 10px;
}

.notes{
    text-align: center;
    color:#D7A554;
}

/* FORM */
@media only screen and (min-width: 993px){
    nav .nav-wrapper {
        width: 70%;
    }
    .container{
        width: 50%;
    }
}
.title{
    font-size: 30px;
    text-align: center;
}

.arrow{
    line-height: 45px;
}

.card {
    margin-top: 5%;
}


.bottom-form{
    padding-top: 20px;
    margin-bottom: 0px;
}

/* COLOR  */

a{
    color:#D7A554;
}

.text-grey{
    color:#807E6F;
}

.text-brown, nav .brand-logo{
    color:#533828;
}

.text-brown-light{
    color:#A95834;
}

.text-brown-orange{
    color:#D7A554;
}

.text-cream{
    color:#F0D6A6;
}

.brown-orange{
    background-color:#D7A554;
}


/* INPUTS */

.btn:hover, .btn-floating:hover{
    background-color:#F8BE60;
}

button:focus{
    background-color:#D7A554;
}

.input-field .prefix.active{
    color:#D7A554;
}

input[type=text]:focus:not([readonly]){
    border-bottom: 1px solid #D7A554;
    box-shadow: 0 1px 0 0 #D7A554;
}

input[type=text]:focus:not([readonly])+label{
    color:#D7A554;
}