body{
    background: url('/img/bg.png') no-repeat center center fixed;
    background-size: cover;
    color:#533828;
}

/* ----------------- *\
	     COLOR 
\* ----------------- */

a{
    color:#D7A554;
}

.text-grey{
    color:#807E6F;
}

.text-brown, nav .brand-logo{
    color:#533828;
}

.text-brown-light{
    color:#A95834;
}

.text-brown-orange{
    color:#D7A554;
}

.text-cream{
    color:#F0D6A6;
}

.brown-orange{
    background-color:#D7A554;
}

.btn:hover{
    background-color:#F8BE60;
}

.input-field .prefix.active{
    color:#D7A554;
}

input[type=text]:focus:not([readonly]){
    border-bottom: 1px solid #D7A554;
    box-shadow: 0 1px 0 0 #D7A554;
}

input[type=text]:focus:not([readonly])+label{
    color:#D7A554;
}

/* ----------------- *\
	  BS CALLOUT 
\* ----------------- */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

/* SUCCESS */
.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

/* INFO */
.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

/* WARNING */
.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

/* DANGER */
.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout-danger h4 {
    color: #ce4844;
}